
.header {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  align-items: center;
  min-width: 1100px;
  padding: 91.8px 50px;
}

.header__menu {
  display: flex;
  margin-bottom: 5px;}

.header__links-list {
  display: flex;
  gap:33.5px;
  list-style: circle;
}

.header__links-list,
.footer__links-list {
  font-size: 18px;
  text-underline-offset: 3.6px;
}

.header__link_active {
  list-style-type: none;
}

.header__link_active,
.footer__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
}
 
.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
  text-align: left;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  margin-right: 36px;
}

.contacts {
  position: relative;
  bottom: 3px;
  text-underline-offset: 3.6px;
}

main {
  display: grid;
}

.cover {
  position: relative;
  display: grid;
  min-height: 757px;
  margin: 0;
  padding: 0 50px;
  background: url('../images/cover.jpg') no-repeat center/cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 16.6px;
  min-width: 1000px;
  margin-top: 165px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  align-self: flex-start;
}

.aligned-text_center {
  align-self: center;
  margin-left: 30px;
}

.aligned-text_right {
  align-self: flex-end;
  margin-right: -30px;
}

.description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 106px 0px 50px;
  color: #FFFFFF;
  font-size: 22px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  word-spacing: 9px;
}

.cover__description-text {
  display: flex;
  align-items: center;
}
 
.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #FFFFFF;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  position: relative;
  z-index: 2;
  margin-top:180px ;
  padding: 0 24px;
}

.lots__heading {
  display: flex;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-top: 26px;
}

.lots__card-list-item {
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  background-position: center;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 46px 40px 0px;
  color: #fff;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3.6px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 0 40px 48px;
  color: #fff;
  font-size: 20px;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.lots__look-more-link {
  display: flex;
  margin-top: 30px;
  padding-left:40px ;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.068em;
  text-underline-offset: 3.6px;
} 

.about {
  display: grid;
  grid-template-columns: 1.3956fr 3fr;
  margin-top:120px;
  padding: 0 24px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 30.5px;
  border-radius: 50%;
  background-color: black;
  margin-left: 48px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  max-width: 713px; /*Устанавливаю максимальную ширину вместо br, как вы указали,но тогда немного едет текст, не понимаю на сонове ваших рекомендаций мне можно установить один br там, где мне это надо или нет, поэтому оставлю так*/
}

.about__title {
  display: flex;
  margin-top: 133px;
  margin-bottom: 99px;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.about__text.about__text_intro {
  margin-bottom: 24px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 180px;
  padding: 0px 50px;
}

.address_footer {
  margin-top: 4px;
}

.footer__links-list {
  text-align: center;
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
} 

.footer__social-list-item {
  display: flex;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
